/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
div.site-header .headline {
  font-size: 36px;
  line-height: 40px;
  text-align: center; }
div.site-header .logo {
  float: left; }
div.site-header .logo3 {
  float: right; }
div.site-header div.toolbar {
  display: table;
  margin: 0 auto;
  font-size: 16px;
  font-family: Verdana;
  line-height: 20px; }
  div.site-header div.toolbar ul {
    margin: 0px;
    padding: 0;
    list-style: none;
    overflow: auto; }
    div.site-header div.toolbar ul li {
      display: inline; }
      div.site-header div.toolbar ul li a {
        text-decoration: none;
        display: block;
        padding: 5px 0px;
        width: 120px;
        background: #52052c;
        color: #efd2e1;
        float: left;
        text-align: center;
        border-top: 2px solid #8c2f5e;
        border-right: 2px solid #19000d;
        border-bottom: 2px solid #19000d;
        border-left: 2px solid #8c2f5e; }
      div.site-header div.toolbar ul li a:hover {
        background: #8c2f5e;
        color: #19000d;
        border-top: 2px solid #19000d;
        border-right: 2px solid #efd2e1;
        border-bottom: 2px solid #efd2e1;
        border-left: 2px solid #19000d; }
div.site-header div.login-status {
  display: inline;
  float: right;
  margin: 0 0 10px 10px; }

div#content {
  clear: left; }

div.site-footer {
  font-size: 16px;
  line-height: 22px;
  bottom: 0;
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%; }

div.site-footer .credits {
  font-size: 12px;
  line-height: 20px;
  text-align: center; }

div.entire-page {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 20px;
  position: relative;
  background-color: #aa4139;
  color: #000000; }

#content .question-view th {
  background-color: #aa6f39; }

a {
  color: #990033; }

div.entire-page .headline {
  font-size: 30px;
  line-height: 32px;
  text-align: center; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

/* kts didn't work
.entire-page {
    position: relative;
    background: #F0F0FF;
    overflow: hidden;
}
*/
/* You could use :after - it doesn't really matter */
/*
.entire-page:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
*/
/*
html {
   background: url('images/background.png') no-repeat center center fixed;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
*/
