{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
       <link rel="stylesheet" type="text/css" href="{% static 'checklist/style.css' %}" />
       <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
       <script src="jquery-1.11.3.min.js"></script>
       <script type="text/javascript" src="DataTables/datatables.min.js"></script>
    <title>{% block title %}BDSM Checklist{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
