{% extends "base.html" %}
{% load staticfiles %}

       {% block cssincludes %}
         <link rel="stylesheet" type="text/css" href="{% static 'checklist/style.css' %}" />
         {% block checklist_cssincludes %}
         {% endblock %}
       {% endblock %}

       {% block scriptincludes %}
        <script type="text/javascript" src="{% static 'checklist/js/utility.js'               %}" ></script>
        <script type="text/javascript" src="{% static 'checklist/js/Question.js'              %}" ></script>
        <script type="text/javascript" src="{% static 'checklist/js/main.js'                  %}" ></script>

         {% block checklist_scriptincludes %}
         {% endblock %}
       {% endblock %}

       {% block title %}BDSM Checklist{% endblock %}
