{% extends "checklist/base.html" %}
{% load staticfiles %}


{% block checklist_cssincludes %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'              %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css'            %}" />
{% endblock %}
{% block checklist_scriptincludes %}
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="question-edit">

   <div>
       Select a rating for each question. You don't have to fill this out all
       at once, your progress is saved as you move to the next question.
       So you can come back to the rest later. Select resume to get a
       question list containing only the questions you haven't answered yet.

       Instructions can be found
       <a href="/checklist/instructions">here</a>
   </div>
    <hr>

   {% load checklist_extras %}
   {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

   <form action="{% url 'checklist:set' %}" method="post">
   {% csrf_token %}
   {% for node in questions %}
      <div class="question {% cycle 'odd' 'even' %}" >
         {% include 'checklist/question.html' %}
      </div>
   {% endfor %}<BR />

   <input type="submit" value="Submit" />
   </form>
</div>

{% endblock %}

