{% extends "checklist/base.html" %}
{% block content %}

{% load staticfiles %}

<div class ="headline">Answer list</div>

{% load render_bundle from webpack_loader %}
{% load checklist_extras %}

  <script>
      window.globs = []
      window.globs['choices'] = {{choices|jsonify}}
      window.globs['choices_context'] = {{choices_context|jsonify}}
      window.globs['csrfToken'] = "{{ csrf_token }}"
      console.log("test.html: choices = ",window.globs['choices_context'] )

  </script>
  <div id="react-app"></div>
  {% render_bundle 'answers_edit' %}

{% endblock %}
