{% extends "checklist/base.html" %}

{% block content %}

<div class="entire-page question-view">
   <div class ="headline">BDSM checklist</div>

   <div instructions>
      This is an interactive version of a checklist I found
   </div>

   {% load checklist_extras %}

<table>
   <thead>
      <tr>
         <th rowspan=2>Question</th>
         {% for context in choices_context %}
            <th class='context-headline' colspan='{{ choices.booleans|length|add:1}}'>
               {{ context.description }}
            </th>
         {% endfor %}
      </tr>
      <tr>
         {% for context in choices_context %}
            <th>Rating</th>
            {% for choice in choices.booleans %}
              <th>
                 {{choice.description}}
              </th>
            {% endfor %}
         {% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for node in questions %}
         {% if node.answers %}
            <tr>
                  <td class='topic-headline'>{{ node.question.question_text }}</td>
                  {% for context in choices_context %}
                     {% with answer=node.answers|keyvalue:context.name partial_key=node.question.id|addstr:'_'|addstr:context.name %}
                        <td>
                        {% with answerrating=answer.rating %}
                           {% with choice=choices.rating|listvalue:answerrating %}
                              {{ choice }}
                           {% endwith %}
                        {% endwith %}
                        </td>
                        {% for choice in choices.booleans %}
                         <td class='question small'>
                            {% if answer|objgetattr:choice.name %}
                               <img src="/static/admin/img/icon-no.gif" alt="False">
                            {% else %}
                               <img src="/static/admin/img/icon-yes.gif" alt="True">
                            {% endif %}
                         </td>
                        {% endfor %}
                     {% endwith %}
                  {% endfor %}
            </tr>
         {% endif %}
      {% endfor %}
   </tbody>
</table>
</div>

{% endblock %}

