{% extends "checklist/base.html" %}

{% block content %}

<div class="question-view">

   <div class='headline'>
       Results of checklist for user {{ user }}
   </div>

   {% load checklist_extras %}

<table id='view-table'>
   <thead>
      <tr>
         <th rowspan=2>Question</th>
         {% for context in choices_context %}
            <th class='context-headline' colspan='{{ choices.booleans|length|add:1}}'>
               {{ context.description }}
            </th>
         {% endfor %}
      </tr>
      <tr>
         {% for context in choices_context %}
            <th>Rating</th>
            {% for choice in choices.booleans %}
              <th>
                 {{choice.description}}
              </th>
            {% endfor %}
         {% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for node in questions %}
         {% if node.answers %}
            <tr>
                  <td class='topic-headline'>{{ node.question.question_text }}</td>
                  {% for context in choices_context %}
                     {% with answer=node.answers|keyvalue:context.name partial_key=node.question.id|addstr:'_'|addstr:context.name %}
                        {% with answerrating=answer.rating %}
                           <td data-order="{{answerrating}}">
                              {% with choice=choices.rating|listvalue:answerrating %}
                                 {{ choice }}
                              {% endwith %}
                           </td>
                        {% endwith %}
                        {% for choice in choices.booleans %}
                           {% if answer|objgetattr:choice.name %}
                              <td class='question small' data-order="1">
                                 <img src="/static/admin/img/icon-yes.gif" alt="True">
                              </td>
                           {% else %}
                              <td class='question small' data-order="0">
                              </td>
                           {% endif %}
                        {% endfor %}
                     {% endwith %}
                  {% endfor %}
            </tr>
         {% endif %}
      {% endfor %}
   </tbody>
</table>
</div>

<script>
    $(document).ready( function () {
        $('#view-table').DataTable( {
            "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
        }
            );

    } );
</script>

{% endblock %}

