@import '_colors';

.question-edit .topic {
}

.question-edit .topic-headline {
    display:inline;
    font-size: 26px;
    line-height: 40px;
}
.question-edit .topic-detail {
    display:inline;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    margin-left: 5%
}

.question-edit .context {
   margin-left: 5%
}

.question-edit .context-headline {
   font-size: 16px;
   line-height: 20px;
   font-weight: bold;
}

.question-edit .question-headline+.question {
   display:inline
}

.question-edit .question.small {
   display:inline
}

.question-edit .question-headline {
   font-weight: bold;
   display:inline;
   font-size: 12px;
   line-height: 20px;
}


#content .question-view {
    thead {
       background-color: green;
       color: white;
       font-weight: bold;
       font-size: 20px;
       line-height: 30px;
       padding: 5px 5px;
   }

   th {
      background-color:   $color-secondary-1-0;
       color: white;
       font-weight: bold;
       font-size: 16px;
       line-height: 20px;
       padding: 5px 5px;
   }


   tbody {
      background-color:   $color-secondary-1-1;
   }

   table#view-table {
      background-color:   $color-secondary-1-1;
       border-collapse: collapse;
       tr {
         background-color:   $color-secondary-1-1;
       }
   }

   td {
      background-color:   $color-secondary-1-2;
       border-collapse: collapse;
       font-size: 16px;
       line-height: 20px;
       padding: 5px 5px;

   }

   #view-table_info {
      color:   $color-primary-2;

   }
}




.question-view table,.question-view  th,.question-view  td {
   border: 1px solid black;
}




