
div.entire-page .headline {
    font-size: 36px;
    line-height: 40px;
    text-align: center
}

.question-edit .topic {
}

.question-edit .topic-headline {
    display:inline;
    font-size: 26px;
    line-height: 40px;
}
.question-edit .topic-detail {
    display:inline;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    margin-left: 5%
}

.question-edit .context {
   margin-left: 5%
}

.question-edit .context-headline {
   font-size: 16px;
   line-height: 20px;
   font-weight: bold;
}

.question-edit .question-headline+.question {
   display:inline
}

.question-edit .question.small {
   display:inline
}

.question-edit .question-headline {
   font-weight: bold;
   display:inline
   font-size: 12px;
   line-height: 20px;
}

.question-view {
}

.question-view thead {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

}
.question-view table {
    border-collapse: collapse;
}
.question-view table,.question-view  th,.question-view  td {
   border: 1px solid black;
}

/* kts didn't work
.entire-page {
    position: relative;
    background: #F0F0FF;
    overflow: hidden;
}
*/
/* You could use :after - it doesn't really matter */
/*
.entire-page:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
*/

/*
html {
   background: url('images/background.png') no-repeat center center fixed;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
*/
body {
   background: url('images/background.png'); 
}



