//@notimport '_colors';
// begin manually imported colors

//http://paletton.com/#uid=5030u0kllll3QPvcAu5u5cAPv3Q

$color-primary-0 :  #AA4139; 	/* Main Primary color */
$color-primary-1 :  #FFE3E0;
$color-primary-2 :  #F09891;
$color-primary-3 :  #640D06;
$color-primary-4 :  #1F0200;


// http://paletton.com/#uid=b0i0x5s0kiDds5MvWcXkIq68lL720
$color-secondary-1-0 :  #6B412D; 	/* Main Secondary color (1) */
$color-secondary-1-1 :  #FEDFD1;
$color-secondary-1-2 :  #A57862;
$color-secondary-1-3 :  #421E0C;
$color-secondary-1-4 :  #100500;

// end manually imported colors

// end manually pasted in colors


.ghosted {
    color: grey;
    font-style: italic;
}

.selected {
    color: black;
    font-weight: bold;
}

.question-edit,.question-detail {

   .odd {
      background-color:   $color-secondary-1-1;
   }

   .even {
      background-color:   $color-secondary-1-2;

   }
   .topic-headline {
       display:inline;
       font-size: 26px;
       line-height: 40px;
   }
   .topic-detail {
       display:inline;
       font-size: 16px;
       line-height: 20px;
       font-style: italic;
       margin-left: 5%
   }

   .context {
      margin-left: 5%
   }

   .context-headline {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
   }

   .question-headline+.question {
      display:inline
   .topic-headline {
       display:inline;
       font-size: 26px;
       line-height: 40px;
   }
   }

   .question.small {
      display:inline

   }

   .question-headline {
      font-weight: bold;
      display:inline;
      font-size: 12px;
      line-height: 20px;
   }
}


.question-reactview {
   .filters {
      background-color:   $color-primary-0;
       padding: 5px 5px;
   }

}

#content .question-view {
    color:   black;

    thead {
       background-color: green;
       color: white;
       font-weight: bold;
       font-size: 20px;
       line-height: 30px;
       padding: 5px 5px;
   }

   th {
      background-color:   $color-secondary-1-0;
       color: white;
       font-weight: bold;
       font-size: 16px;
       line-height: 20px;
       padding: 5px 5px;
   }


   tbody {
      background-color:   $color-secondary-1-1;
      color:   black;
   }

   table#view-table {
      background-color:   $color-secondary-1-1;
       border-collapse: collapse;
   }

   td {
       border-collapse: collapse;
       font-size: 16px;
       line-height: 20px;
       padding: 5px 5px;

   }

   .question.bool {
      text-align:center;
   }

   tr.even {
      background-color:   $color-secondary-1-2;
   }

   tr.odd {
      background-color:   $color-secondary-1-1;
   }

   #view-table_info {
      color:   $color-primary-2;

   }
}




.question-view table,.question-view  th,.question-view  td {
   border: 1px solid black;
}




