{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <link rel="stylesheet" type="text/css" href="{% static 'js/DataTables/datatables.min.css'         %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/tooltipster.css'                      %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'                        %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css'                  %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'lib/backgrid/css/backgrid.css'            %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'lib/backgrid/css/backgrid-select-all.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'lib/backgrid/css/backgrid-paginator.css'  %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'                            %}" />
   {% block cssincludes %}{%endblock%}
   <script type="text/javascript" src="{% static 'js/underscore.js'                                  %}" ></script>
   <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js'                           %}" ></script>
   <script type="text/javascript" src="{% static 'js/jquery.tooltipster.min.js'                      %}" ></script>
   <script type="text/javascript" src="{% static 'js/DataTables/datatables.min.js'                   %}" ></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.js'                                   %}" ></script>
   <script type="text/javascript" src="{% static 'lib/backbone/js/backbone.js'                       %}" ></script>
   <script type="text/javascript" src="{% static 'lib/backbone/js/backbone.paginator.js'             %}" ></script>
   <script type="text/javascript" src="{% static 'lib/backgrid/js/backgrid.js'                       %}" ></script>
   <script type="text/javascript" src="{% static 'lib/backgrid/js/backgrid-select-all.js'            %}" ></script>
   <script type="text/javascript" src="{% static 'lib/backgrid/js/backgrid-paginator.js'             %}" ></script>
   <script type="text/javascript" src="{% static 'js/BackboneDjangoPageableCollection.js'            %}" ></script>
   <script type="text/javascript" src="{% static 'js/handlebars-v4.0.2.js'                           %}" ></script>
   {% block scriptincludes %}{%endblock%}
   <title>{% block title %}BDSM Checklist{% endblock %}</title>

    <meta content="authenticity_token" name="csrf-param" />
    <meta content="{{ csrf_token }}" name="csrf-token" />

</head>

<body>
<div class="container-fluid entire-page {% block page-name %}{%endblock%}">

   <div class='site-header'>
      {% block header %}
         <div class='headline'>BDSM Checklist</div>
         <div class='logo'>
             <img src="{% static 'images/logo.png'  %}" alt="logo" height="38" width="38">
         </div>
         <div class="login-status">
          {# kts can't figure out how to reverse lookup logout #}
          {% if request.user.is_authenticated %}
            Logged in as {{ request.user }}
            <a href=/accounts/logout>Logout</a>
          {% else %}
            <a href=/accounts/login>Login</a> or
            <a href=/accounts/register>Register</a>
          {% endif %}
         </div>

         <div class='toolbar'>
            <ul>
               <li><a href="{% url 'checklist:index'  %}">Home            </a></li>
               {% if request.user.is_authenticated %}
                  <li><a href="{% url 'checklist:edit'      %}">Fill out checklist</a></li>
                  <li><a href="{% url 'checklist:resume'    %}">Resume checklist  </a></li>
                  <li><a href="{% url 'checklist:review'    %}">View Results      </a></li>
                {% endif %}
               <li><a href="{% url 'checklist:questions' %}">View question list</a></li>
            </ul>
         </div>
      {% endblock %}
   </div>
   <br />
   <div id="content">
       {% block content %}{% endblock %}
   </div>
    <br />
    <br />
   <div class='site-footer'>
       {% block footer %}
       <div class ='credits'>
           Created by Kevin Seghetti. <a href="mailto:kts@tenetti.org?Subject=BDSM checklist" target="_top">Email me</a> with questions or feedback
       </div>
       {% endblock %}
   </div>
</div>

</body>
</html>
