{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
       <link rel="stylesheet" type="text/css" href="{% static 'js/DataTables/datatables.min.css' %}"/>
       <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
       {% block cssincludes %}{%endblock%}
       <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
       <script type="text/javascript" src="{% static 'js//DataTables/datatables.min.js' %}"></script>
       {% block scriptincludes %}{%endblock%}
    <title>{% block title %}BDSM Checklist{% endblock %}</title>
</head>

<body>
<div class="entire-page">

   <div class='site-header'>
      {% block header %}
         <div class='headline'>BDSM Checklist</div>
         <div class='toolbar'>
            <a href="{% url 'checklist:index' %}">Home</a>
            <a href="{% url 'checklist:edit' %}">Edit</a>
            <a href="{% url 'checklist:view' %}">Review</a>
            <a href="{% url 'checklist:questions' %}">Question List</a>

         </div>
      {% endblock %}
   </div>

   <div id="content">
       {% block content %}{% endblock %}
   </div>
    <br />
    <br />
   <div class='site-footer'>
       {% block footer %}
       {# kts can't figure out how to reverse lookup logout #}
       You are logged in as {{ request.user }} <a href=/accounts/logout>
         Logout
       </a>
         <div class ='credits'>
             Created by Kevin Seghetti. <a href="mailto:kts@tenetti.org?Subject=BDSM checklist" target="_top">Email me</a> with questions or feedback
         </div>
       {% endblock %}
   </div>
</div>

</body>
</html>
