{% extends "checklist/base.html" %}
{% block content %}

{% load staticfiles %}
{% load compile_static %}
{% load static %}

{% load render_bundle from webpack_loader %}
{% load checklist_extras %}


  <div id="react-app"></div>

  <script>
    // globals from server
    window.globs = []
    window.globs['choices'] = {{choices|jsonify}}
    window.globs['choices_context'] = {{choices_context|jsonify}}
    window.globs['csrfToken'] = "{{ csrf_token }}"
    // kts: must be a better way to pass parameters into a module
    window.globs['questionsUrl'] = "{{ questionsUrl }}"
    window.globs['appName'] = "{{ APP_NAME }}"
    window.globs['userName'] = "{{ userName }}"

    window.globs['defaultLoggingLevel'] = "OFF"
    var loggingLevel='ERROR'
    {%if logging %}
        loggingLevel='ALL'
    {% endif %}
    window.globs['loggingLevels'] =
    {
        'AnswerView' : loggingLevel,
        'AnswerEdit' : loggingLevel,
        'viewerComponents' : loggingLevel,
        'answers_view' : loggingLevel,
        'answers_edit' : loggingLevel,
        'actions' : loggingLevel,
        'reducers' : loggingLevel,
    }

  </script>

  {% render_bundle 'index' %}

{% endblock %}


