{% extends "checklist/base.html" %}
{% block content %}

{% load staticfiles %}

<div class ="headline">Question list</div>

<div id="container">
      <div class="question-list">
        Loading...
      </div>

    <div class="question-create">
        <b>Add a Question</b>
      <div class ='row'>
        <div class ='form-group'>
            <div class=" col-md-1 col-xs-12">
              <label for="question_{{index}}_text" >Question:</label>
            </div>
            <div class=" col-md-3 col-xs-12">
              <input type="text" id="question_text" name="text"   class="text form-control"    >
          </div>
            <div class=" col-md-1 col-xs-12">
              <label  for="question_{{index}}_text" >Detail:</label>
            </div>
            <div class=" col-md-5 col-xs-12">
              <input type="text" id="question_detail" name="detail" class="detail form-control" >
            </div>
            <div class=" col-md-2 col-xs-12">
                <button class="create btn ">Create Question</button>
            </div>
        </div>
      </div>
    </div>

</div>

<script>

    console.log("question_edit: start")

    $(document).ready(function() {
        console.log("question_edit: document ready")
        //var brandNewQuestion = new QuestionModel({ question_text: 'sample question', question_detail: 'sample question detail' });
        //brandNewQuestion.save();

        var questionList = new QuestionCollection();
        //var questionView = new QuestionListView({collection: questionList});

        // Column definitions
        var columns = [{
          name: "id", // The key of the model attribute
          label: "ID", // The name to display in the header
          editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
          // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
          cell: Backgrid.IntegerCell.extend({
            orderSeparator: ''
          })
        }, {
          name: "question_text",
          label: "Question",
          // The cell type can be a reference of a Backgrid.Cell subclass, any Backgrid.Cell subclass instances like *id* above, or a string
          cell: "string" // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
        }, {
          name: "question_detail",
          label: "Detail",
          cell: "string"
        }, {
          name: "url",
          label: "URL",
          cell: "uri" // Renders the value in an HTML <a> element
        }];

        // Initialize a new Grid instance
        var grid = new Backgrid.Grid({
            columns: columns,
          collection: questionList,
        });

        // Render the grid and attach the Grid's root to your HTML document
        $(".question-list").html(grid.render().el);


        // Initialize the paginator
        var paginator = new Backgrid.Extension.Paginator({
          collection: questionList
        });

        // Render the paginator
        $(".question-list").after(paginator.render().el);

        questionList.fetch();


    })

</script>

{% endblock %}


